<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon src="/src/assets/icon5.png"></ion-icon>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-
  <p style="text-align:center;margin-top: 10px;">Hello Long Lake Camper!!</p>
  <p></p>
  <p>click here to go to the schedule page where you can select whichever activities you want to do from the dropdown menus</p> -->

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>So whats this app for?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This app was made to help you remember what activities you want to do throughout the day.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Does this app know which activities are on?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      No, it doesn't. 
      <br>
      Although you can select ANY activity, that activity may not be scheduled that day.
      <br><br>
      Thats why its very important to listen to the meetings to find out whats on!

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Will my choices be stored and sent to the camp?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      No, although that was the original plan but I didn't have enough time.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>What is love?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Baby, dont hurt me.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Who made this cool app?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The really cool robotics counselor!<br>
      Adventure Camp FTW
    </ion-card-content>
  </ion-card>

</ion-content>
