<script type="text/typescript" src="src/app/app.component.ts"></script>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon src="src/assets/icon6.png"></ion-icon>
    </ion-buttons>
    <ion-title>Activity Scheduler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="flex-center">{{topText}}</p>

  <ion-list>
    <!-- Period 1 -->
    <ion-item>
      <ion-label>Period 1</ion-label>
        <ion-select id="activity1" ok-text="Okay" cancel-text="Nah">
          <ion-select-option value="dos">DOS</ion-select-option>
          <ion-select-option value="lunix">Linux</ion-select-option>
          <ion-select-option value="mac7">Mac OS 7</ion-select-option>
          <ion-select-option value="mac8">Mac OS 8</ion-select-option>
          <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
          <ion-select-option value="win95">Windows 95</ion-select-option>
          <ion-select-option value="win98">Windows 98</ion-select-option>
        </ion-select>
    </ion-item>

    <!-- Period 2 -->
    <ion-item>
      <ion-label>Period 2</ion-label>
        <ion-select id="activity2" ok-text="Okay" cancel-text="Nah">
          <ion-select-option value="dos">DOS</ion-select-option>
          <ion-select-option value="lunix">Linux</ion-select-option>
          <ion-select-option value="mac7">Mac OS 7</ion-select-option>
          <ion-select-option value="mac8">Mac OS 8</ion-select-option>
          <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
          <ion-select-option value="win95">Windows 95</ion-select-option>
          <ion-select-option value="win98">Windows 98</ion-select-option>
        </ion-select>
    </ion-item>

    <!-- Period 3 -->
    <ion-item>
      <ion-label>Period 3</ion-label>
        <ion-select id="activity3" ok-text="Okay" cancel-text="Nah">
          <ion-select-option value="dos">DOS</ion-select-option>
          <ion-select-option value="lunix">Linux</ion-select-option>
          <ion-select-option value="mac7">Mac OS 7</ion-select-option>
          <ion-select-option value="mac8">Mac OS 8</ion-select-option>
          <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
          <ion-select-option value="win95">Windows 95</ion-select-option>
          <ion-select-option value="win98">Windows 98</ion-select-option>
        </ion-select>
    </ion-item>
  
    <!-- LUNCH -->
    <ion-item class="blanked">
      <div>
        <ion-label><i>Lunch</i></ion-label>
      </div>
    </ion-item>
  
    <!-- Period 4 -->
    <ion-item>
      <ion-label>Period 4</ion-label>
        <ion-select id="activity4" ok-text="Okay" cancel-text="Nah">
          <ion-select-option value="dos">DOS</ion-select-option>
          <ion-select-option value="lunix">Linux</ion-select-option>
          <ion-select-option value="mac7">Mac OS 7</ion-select-option>
          <ion-select-option value="mac8">Mac OS 8</ion-select-option>
          <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
          <ion-select-option value="win95">Windows 95</ion-select-option>
          <ion-select-option value="win98">Windows 98</ion-select-option>
        </ion-select>
    </ion-item>

    <!-- Period 5 -->
    <ion-item>
      <ion-label>Period 5</ion-label>
        <ion-select id="activity5" ok-text="Okay" cancel-text="Nah">
          <ion-select-option value="dos">DOS</ion-select-option>
          <ion-select-option value="lunix">Linux</ion-select-option>
          <ion-select-option value="mac7">Mac OS 7</ion-select-option>
          <ion-select-option value="mac8">Mac OS 8</ion-select-option>
          <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
          <ion-select-option value="win95">Windows 95</ion-select-option>
          <ion-select-option value="win98">Windows 98</ion-select-option>
        </ion-select>
    </ion-item>

    <!-- Snack -->
    <ion-item class="blanked">
      <div>
        <ion-label><i>Snack</i></ion-label>
      </div>
    </ion-item>

    <!-- Period 6 -->
    <ion-item>
      <ion-label>Period 6</ion-label>
        <ion-select id="activity6" ok-text="Okay" cancel-text="Nah">
          <ion-select-option value="dos">DOS</ion-select-option>
          <ion-select-option value="lunix">Linux</ion-select-option>
          <ion-select-option value="mac7">Mac OS 7</ion-select-option>
          <ion-select-option value="mac8">Mac OS 8</ion-select-option>
          <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
          <ion-select-option value="win95">Windows 95</ion-select-option>
          <ion-select-option value="win98">Windows 98</ion-select-option>
        </ion-select>
    </ion-item>

    <!-- Period 7 -->
    <ion-item>
      <ion-label>Period 7</ion-label>
        <ion-select id="activity7" ok-text="Okay" cancel-text="Nah">
          <ion-select-option value="dos">DOS</ion-select-option>
          <ion-select-option value="lunix">Linux</ion-select-option>
          <ion-select-option value="mac7">Mac OS 7</ion-select-option>
          <ion-select-option value="mac8">Mac OS 8</ion-select-option>
          <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
          <ion-select-option value="win95">Windows 95</ion-select-option>
          <ion-select-option value="win98">Windows 98</ion-select-option>
        </ion-select>
    </ion-item>

    <!-- Dinner -->
    <ion-item class="blanked">
      <div>
        <ion-label><i>Dinner</i></ion-label>
      </div>
    </ion-item>

    <!-- <ion-item>
      <button onclick="console.log(SchedulerPage.hi())">Sample Text</button>
    </ion-item> -->
  </ion-list>

  <br>

  <ion-button (click)="saveChoices()" expand="block"><ion-icon slot="start" name="save"></ion-icon>Save</ion-button>
  <ion-button (click)="recoverChoices()" expand="block"><ion-icon slot="start" name="home"></ion-icon>Recover</ion-button>
  

  <p>Pick your daily schedule here and press save. I'll remember it for you!</p>
</ion-content>
