<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="menu-list">
          
          <ion-list-header><h1>Long Lake Camp</h1></ion-list-header>
          <ion-note>Activity scheduling app</ion-note>

          <!-- Lists pages from app.component.ts -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'">              </ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Camp selector -->
          <ion-item>
            <ion-label>Select camp</ion-label>
              <ion-select id="camp_selector" name="camp selector" ok-text="Okay" cancel-text="Nah" (ionChange)="updateCamp()">
                <ion-select-option value="art">Arts</ion-select-option>
                <ion-select-option value="adventure">Adventure</ion-select-option>
              </ion-select>
          </ion-item>
          
        </ion-list>
        <p style="position: fixed; bottom: 0; color:grey;">Designed and developed by Joshua Gould</p>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
